
/*
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////// TEXT ////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
*/


@font-face {
    font-family: "apparel";
    src: url(fonts/Apparel\ Display\ Black\ It.ttf);
    font-style: normal;
    font-weight: 150;
}

h1 {
    font-family: "apparel";
    font-weight: 150;
}

@font-face {
    font-family: "apparel";
    src: url(fonts/Apparel\ Black.ttf);
    font-style: normal;
    font-weight: 200;
}

h2 {
    font-family: "apparel";
    font-weight: 200;
}

@font-face {
    font-family: "apparel";
    src: url(fonts/Apparel\ Regular\ It.ttf);
    font-style: normal;
    font-weight: 100;
}

h3 {
    font-family: "apparel";
    font-weight: 100;
}

/*
//////////////////////////////////////////////////////////////////////////////
////////////////////////////////// GENERAL ///////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space_between;
    align-items: center;
    background: #111;
    color: #fff; /*text color*/
    z-index: 2;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
}

/*
//////////////////////////////////////////////////////////////////////////////
///////////////////////////////// NAVIGATION /////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
*/

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 40px 100px;
}

nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    float: left;
    text-align: center;
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
}

.nav a {
    padding: 14px 10px;
    text-transform: uppercase;
    vertical-align:middle;
    display: inline-block;
}

.logo {
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
}

span {
    vertical-align: middle;
}

/*
//////////////////////////////////////////////////////////////////////////////
////////////////////////////////// BUTTONS ///////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
*/


.social {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30%;
    padding: 40px 100px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.configuration {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
    padding: 40px 100px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ion-icon {
    color: rgb(255, 255, 255);
}

/*
ion-icon {
  --ionicon-stroke-width: 16px;
}
*/

/*
//////////////////////////////////////////////////////////////////////////////
/////////////////////////////////// INDEX ////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
*/

.indexText {
    position: relative;
    text-align: center;
    z-index: 10; 
    color: rgb(255, 255, 255);
    /* text-shadow: 2px 2px #000000; */
    text-shadow: 2px 2px 0px #000000;
}

table {
    width: 100%;
}

th span {
    display: inline-block;
    width: 50%;
    text-align: center;
}

.indexText h2 {
    font-size: 4em; /*current multiplied by 5*/
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}

/*
//////////////////////////////////////////////////////////////////////////////
///////////////////////////////// PORTFOLIO //////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
*/

.pContainer {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    z-index: 10000;
}

img {
    max-width: 100%
}

.pImage {
    flex-basis: 40%;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}




/*

.device {
    position: absolute;
    z-index: 0; 
    width: 50%;
    top: 130px;
    right: 150px; 
    margin: auto;
    display:block;
}

*/




.pText {
    width: 40%;
    padding-right: 20px;
}

.pText h2 {
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}

.pStartButton {
    background-color: #ff3737;
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 5px;
    border-radius: 50px;
}

.pGithubButton {
    background-color: #374bff;
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 5px;
    border-radius: 50px;
}














/*
//////////////////////////////////////////////////////////////////////////////
/////////////////////////////// QUALIFICATIONS ///////////////////////////////
//////////////////////////////////////////////////////////////////////////////
*/

.qContainer {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    z-index: 10000;
}

.qImage {
    flex-basis: 40%
}

.qText {
    width: 50%;
    padding-right: 20px;
}

.qText h2 {
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}

/*
//////////////////////////////////////////////////////////////////////////////
////////////////////////////////// SERVICE ///////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
*/

.text .photosButton {
    background-color: #1CABE2; /* Green */
    text-decoration: none;
    color: white;
    
    display: inline-block;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
}

/*
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////// BIO /////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
*/

.text .bioPhotosButton {
    background-color: #1c1fe2; /* Green */
    text-decoration: none;
    color: white;
    
    display: inline-block;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
}
